# OSX
.DS_Store

# Java
client/target/**
server/target/**
testing/target/**
*.jar
*.war
*.ear
*.class
*.log

# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
**/.classpath
**/.settings/
.loadpath

# Intellij
.idea/misc.xml
.idea/sqldialects.xml
.idea/workspace.xml
.idea/encodings.xml
