BorderPane {
    -fx-background-color: #FFFFFF;
}

TextField {
    -fx-background-color: #E7E6E6;
    -fx-background-insets: 0;
    -fx-background-radius: 6;
}

PasswordField {
    -fx-background-color: #E7E6E6;
    -fx-background-insets: 0;
    -fx-background-radius: 6;
}

.blue-button{
    -fx-background-color: #0071C0;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 6;
}

.grey-button{
    -fx-background-color: #E7E6E6;
    -fx-font-size: 17;
    -fx-text-fill: #000000;
    -fx-background-radius: 6;
}