

AnchorPane {
  -fx-background-color: transparent;
}
TabPane {
  -fx-tab-min-height: 5em;
  -fx-tab-min-width: 5em;
  -fx-padding: 0 -1 -1 0;

}

#navbar .tab {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-border-width: 0 0 8 0;
  -fx-cell-size: 100;
  -fx-font-size: 20;
  -fx-background-insets: 0.0;
  -fx-background-radius: 0.0;
  -fx-padding: 20 50;
}
#navbar .tab-header-background {
  -fx-background-color: #215590;
}
#navbar .tab-label {
  -fx-text-fill: white;
  -fx-opacity: 0.75;
  -fx-alignment: CENTER;
}
#navbar .tab:selected .tab-label {
  -fx-opacity: 1.0;
}
#navbar .tab:hover {
  -fx-border-width: 0 0 8 0;
}
#navbar .tab:selected {
  -fx-text-fill: white;
  -fx-opacity: 1.0;
  -fx-border-color: white;
  -fx-border-width: 0 0 8 0;
}
#subnavbar .tab {

}
#subnavbar .tab-header-background {
  -fx-background-color: white;
}
#subnavbar .tab .tab-label {
  -fx-text-fill: #215590;
  -fx-alignment: CENTER;
}
#subnavbar .tab:hover {
  -fx-border-color: #215590;
}
#subnavbar .tab:selected {
  -fx-border-color: #215590;
}