TabPane {
  -fx-tab-min-height: 5em;
  -fx-tab-min-width: 5em;
  -fx-padding: 0 -1 -1 0;
}
ScrollBar{
  -fx-background-color: transparent;
}
ScrollPane{
  -fx-background-color: transparent;
}
ScrollPane .thumb{
  -fx-background-color: #021f59;
  -fx-background-radius: 0;
}

#navbar .tab {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-border-width: 0 0 8 0;
  -fx-cell-size: 100;
  -fx-font-size: 20;
  -fx-background-insets: 0.0;
  -fx-background-radius: 0.0;
  -fx-padding: 0 50;
}
#navbar .tab-header-background {
  -fx-background-color: -tutorpoint-navy;
}
#navbar .tab-label {
  -fx-text-fill: white;
  -fx-opacity: 0.75;
  -fx-alignment: CENTER;
}
#navbar .tab:selected .tab-label {
  -fx-opacity: 1.0;
}
#navbar .tab:hover {
  -fx-border-width: 0 0 8 0;
}
#navbar .tab:selected {
  -fx-text-fill: white;
  -fx-opacity: 1.0;
  -fx-border-color: white;
  -fx-border-width: 0 0 8 0;
}

#logOutButton {
  -fx-text-fill: -tutorpoint-navy;
  -fx-background-color: #f0f0f0;
}

#logOutButton:hover {
  -fx-background-color: white;
}


/*.blue-button{*/
/*  -fx-background-color: #0071C0;*/
/*  -fx-text-fill: #FFFFFF;*/
/*  -fx-background-radius: 6;*/
/*}*/

/*.side-pane{*/
/*  -fx-background-color: #021f59;*/
/*}*/

/*.tab{*/
/*  -fx-background-color: #00000000;*/
/*  -fx-translate-y: -5;*/
/*}*/

/*.tab:selected:top{*/
/*  -fx-border-width: 0 0 6 0;*/
/*  -fx-translate-y: 0;*/
/*}*/

/*.focus-indicator{*/
/*  visibility: false;*/
/*}*/

/*.tab-header-area .headers-region{*/
/*  -fx-translate-x: 60;*/
/*}*/

/*#primaryTabPane .tab-header-background{*/
/*  -fx-background-color: #021f59;*/
/*}*/

/*#primaryTabPane .tab-label{*/
/*  -fx-text-fill: #FFFFFF;*/
/*}*/

/*#primaryTabPane .tab:selected{*/
/*  -fx-border-color: #FFFFFF;*/
/*}*/

/*#secondaryTabPane .tab-header-background{*/
/*  -fx-background-color: #FFFFFF;*/
/*}*/

/*#secondaryTabPane .tab-label{*/
/*  -fx-text-fill: #021f59;*/
/*}*/

/*#secondaryTabPane .tab:selected{*/
/*  -fx-border-color: #021f59;*/
/*}*/

/*.track{*/
/*  -fx-scale-x: 0;*/
/*  -fx-scale-y: 0;*/
/*}*/

/*.track-background{*/
/*  -fx-scale-x: 0;*/
/*  -fx-scale-y: 0;*/
/*}*/

/*.increment-button{*/
/*  -fx-scale-x: 0;*/
/*  -fx-scale-y: 0;*/
/*}*/

/*.decrement-button{*/
/*  -fx-scale-x: 0;*/
/*  -fx-scale-y: 0;*/
/*}*/

/*.thumb{*/
/*  -fx-background-color: #021f59;*/
/*  -fx-background-radius: 0;*/
/*}*/

/*.title{*/
/*  -fx-background-color: #021f59;*/
/*  -fx-background-radius: 0;*/
/*}*/

/*.title .text{*/
/*  -fx-fill: #FFFFFF;*/
/*}*/

/*.content{*/
/*  -fx-background-color: #FFFFFF;*/
/*}*/

/*.button:focused,*/
/*.toggle-button:focused,*/
/*.radio-button:focused > .radio,*/
/*.check-box:focused > .box,*/
/*.menu-button:focused,*/
/*.choice-box:focused,*/
/*.color-picker.split-button:focused > .color-picker-label,*/
/*.combo-box-base:focused,*/
/*.slider:focused .thumb {*/
/*  -fx-focus-color: #00000000;*/
/*  -fx-faint-focus-color: #00000000;*/
/*}*/

/*.arrow{*/
/*  -fx-focus-color: #00000000;*/
/*  -fx-faint-focus-color: #00000000;*/
/*}*/