#banner {
  -fx-background-image: url("../../media/sub_banner.jpg");
  -fx-background-repeat: stretch;
  -fx-background-size: 1280 1080;
  -fx-background-position: center center;
}

#thumbnailText {
  -fx-fill: #E6E6E6;
  -fx-font-size: 20px;
}